[submodule "its__client-web"]
	path = its__client-web
	url = git@github.com:iterations-is/its__client-web.git
[submodule "its__ms_auth"]
	path = its__ms_auth
	url = git@github.com:iterations-is/its__ms_auth.git
[submodule "its__ms_users"]
	path = its__ms_users
	url = git@github.com:iterations-is/its__ms_users.git
[submodule "its__ms_communication"]
	path = its__ms_communication
	url = git@github.com:iterations-is/its__ms_communication.git
[submodule "its__ms_interprets"]
	path = its__ms_interprets
	url = git@github.com:iterations-is/its__ms_interprets.git
[submodule "its__ms_monitoring"]
	path = its__ms_monitoring
	url = git@github.com:iterations-is/its__ms_monitoring.git
